/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Bundler lock file (uncomment if you want to commit it)
# Gemfile.lock

*.gem
.env
.env.local
